@model IEnumerable<MyPassword.Entity.Plataforma>

@{
    ViewData["Title"] = "Index";
}

<h1>Plataformas</h1>

<p>
    <a class="btn btn-outline-dark"  asp-action="Edit"
       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Adicionar Plataforma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.PlataformaId"
                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Editar</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.PlataformaId"
                       data-ajax-confirm="Confirma a exclusão ?" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
