@model IEnumerable<MyPassword.Entity.Senha>

@{
    ViewData["Title"] = "Index";
}

<h1>Senhas</h1>

<p>
    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#modalSenha" asp-action="Edit"
       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#plataforma_partial">Adicionar Senha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenhaDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plataforma.Nome)
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-route-id="@item.SenhaId" data-toggle="modal" data-target="#modalSenha" asp-action="Edit"
                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#plataforma_partial">Editar</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.SenhaId"
                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalSenha" tabindex="-1" role="dialog" aria-labelledby="modalSenha" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Senhas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="plataforma_partial">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


